@import "./partials/setup";
$primaryGreen: #7be596;
$primaryBlue: #65ddf2;
$primaryPurple: #915fed;

//GENERAL STYLING /////////////////////
body {
	font-family: sans-serif;
	margin: 0;
	color: #333;
	font-family: 'Abel', sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wrapper {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}
img {
	max-width: 100%;
	border: 0;
}
h1 {
	margin: 0;
	letter-spacing: 2px;
	font-size: 22px;
	padding-left: 50px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav {
	width: 100%;
	z-index: 10;
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.2);
	ul {
		list-style-type: none;
		padding: 5px 15px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.navBtn {
			text-decoration: none;
			padding: 0 10px;
			color: #333;
			height: 100%;
			&:hover {
				background-color: $primaryGreen;
			}
		}
	}
}
.ImageUpload {
	border: 2px solid yellow;
}


/////////////////////////////////////////


.uploadImage {
	margin: 25px 0;
	position: relative;
	input {
		width: 200px;
	}
}
.canvas {
	display: flex;
	justify-content: space-between;
	.imgContainer {
		width: 65%;
		height: 500px;
		img {
			max-height: 500px;
		}
	}

	.sideBar {
		display: flex;
		flex-direction: column;
		width: 30%;
		input[type=range] {
			width: 100%;
			max-width: 350px;
			margin-bottom: 30px;
		}
		.buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	
}




// BUTTON STYLING //////////////////
.logoBtn {
	cursor: pointer;
}
input[type=submit] {
	cursor: pointer;
	width: 100px;
	background-color: #fff;
	padding: 7px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	transition: 0.3s all ease;
	&:hover {
		color: white;
	}
}
.uploadBtn {
	border: 3px solid $primaryBlue;
	&:hover {
		background-color: $primaryBlue;
		color: white;
	}
}
.resetBtn {
	border: 3px solid $primaryPurple;
	&:hover {
		background-color: $primaryPurple;
		color: white;
	}
}
.saveBtn {
	border: 3px solid $primaryGreen;
	&:hover {
		background-color: $primaryGreen;
		color: white;
	}
}


// VIEW POSTS ROUTE /////////////////////

.downloadedImages {
	margin-top: 10px;
	-webkit-column-count: 4;
	-webkit-column-gap:   5px;
	-moz-column-count:    4;
	-moz-column-gap:      5px;
	column-count:         4;
	column-gap:           5px;  
}


// MEDIA QUERIES //////////////////////
@media (max-width: 940px) {
	.downloadedImages {
	margin-top: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap:   5px;
	-moz-column-count:    3;
	-moz-column-gap:      5px;
	column-count:         3;
	column-gap:           5px;  
	}
}
// MEDIA QUERIES!!! //////////////////////
@media (max-width: 767px) {
	.canvas {
		flex-direction: column;
		.imgContainer {
			width: 100%;
			height: 400px;
			margin-bottom: 2%;
			img {
				max-height: 400px;
			}
		}
		.sideBar {
			width: 100%;
			.filters {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					width: 47%;
				}
			} 
			.buttonContainer {
				justify-content: space-around;
			}
		}
	}
	.downloadedImages {
	margin-top: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap:   5px;
	-moz-column-count:    2;
	-moz-column-gap:      5px;
	column-count:         2;
	column-gap:           5px;  
	}
}
@media (max-width: 480px) {
	h1 {
		display: none;
	}
	.canvas {
		flex-direction: column;
		.imgContainer {
			width: 100%;
			height: 340px;
			margin-bottom: 2%;

			img {
				max-height: 340px;
			}
		}
		.sideBar {
			width: 100%;
			.filters {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				div {
					width: 100%;
				}
			} 
			.buttonContainer {
				justify-content: space-around;
				margin-bottom: 40px;
			}
		}
	}
	.downloadedImages {
	margin-top: 10px;
	-webkit-column-count: 1;
	-webkit-column-gap:   5px;
	-moz-column-count:    1;
	-moz-column-gap:      5px;
	column-count:         1;
	column-gap:           5px;  
	}
}